<div bsModal #tabModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tabModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #tabContentModal class="modal-content">
            <cTab [modal]="true" [scrollable]="true" (close)="close()">
                <cTab-item>
                    <ng-template cTab-title><i class="fa fa-font-awesome"></i> Tab 1</ng-template>
                    <h1><i class="fa fa-font-awesome"></i> Tab 1</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 2</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 3</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 4</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 5</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 6</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 7</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 8</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 9</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 10</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 11</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 12</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 13</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 14</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 15</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 16</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 17</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 18</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 19</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 10</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 20</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 21</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 22</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 23</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 24</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 25</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 26</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 27</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 28</h1>
                    <h1><i class="fa fa-font-awesome"></i> Tab 29</h1>
                </cTab-item>
                <cTab-item>
                    <ng-template cTab-title><i class="fa fa-font-awesome"></i> Tab 2</ng-template>
                    <h1><i class="fa fa-font-awesome"></i> Tab 2</h1>
                </cTab-item>
                <cTab-item>
                    <ng-template cTab-title><i class="fa fa-font-awesome"></i> Tab 3</ng-template>
                    <h1><i class="fa fa-font-awesome"></i> Tab 3</h1>
                </cTab-item>
                <ng-template cTab-footer>Footer</ng-template>
            </cTab>
        </div>
    </div>
</div>
