<div class="wrapper">

  <!-- Main Header -->
  <top-bar></top-bar>

  <!-- Left side column. contains the logo and sidebar -->
  <side-bar></side-bar>
  <!-- /.sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <breadcrumb></breadcrumb>

    <!-- Main content -->
    <section class="content">
      <router-outlet></router-outlet>
      <!-- Your Page Content Here -->
    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer-tag></footer-tag>

  <control-bar></control-bar>
  <!-- /.control-sidebar -->

</div>
